.product {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  padding-top: 4px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: linear-gradient(135deg, transparent 31px, $color-default 31px);
    border-radius: 12px;
  }

  &:hover::after {
    background-image: linear-gradient(135deg, transparent 31px, $color-default--hover 31px);
  }
}

.product__card {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
  height: 472px;
  margin: 0 auto;
  padding-top: 17px;
  overflow: hidden;
  background-image: linear-gradient(135deg, transparent 30px, $grey-light 30px);
  border-radius: 10px;
  cursor: pointer;
  outline: none;

  &:hover .product__weight,
  &:focus .product__weight {
    background-color: $color-default--hover;
  }

  &:hover .product::after {
    background-image: linear-gradient(135deg, transparent 31px, $color-default--hover 31px);
  }
}

.product__text {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: $grey;

  &--select {
    display: none;
    color: $color-selected--hover;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 45px;
  font-weight: 700;
  font-size: 48px;
  color: $black;

  & span {
    display: block;
    font-size: 24px;
  }
}

.product__subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}

.product__photo {
  display: block;
  width: 312px;
  height: 270px;
  margin-top: auto;
}

.product__weight {
  position: absolute;
  right: 12px;
  bottom: 12px;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin: 0;
  padding-top: 20px;
  font-size: 42px;
  line-height: 22px;
  text-align: center;
  background-color: $color-default;
  border-radius: 50%;

  & span {
    display: block;
    margin-top: 8px;
    font-size: 21px;
  }
}

.product__info {
  margin: 0;
  margin-top: 18px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-shadow: 1px 1px 0 $black, -1px 1px 0 $black, 0 1px 0 $black;

  &--selected {
    display: none;
  }

  &--disabled {
    display: none;
    color: $yellow;
  }
}

.product__button {
  padding: 0;
  font-weight: 700;
  color: $color-default;
  text-decoration: none;
  background: none;
  border: none;
  border-bottom: 1px dashed $color-default;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-default--hover;
    border-bottom-color: $color-default--hover;
  }
}

// товар выбран

.product--selected {
  &::after {
    background-image: linear-gradient(135deg, transparent 31px, $color-selected--hover 31px);
  }

  &:hover::after,
  &:focus::after {
    background-image: linear-gradient(135deg, transparent 31px, $color-selected 31px);
  }

  .product__weight {
    background-color: $color-selected--hover;
  }

  .product__text--default {
    display: none;
  }

  .product__text--select {
    display: block;
  }

  .product__info--default {
    display: none;
  }

  .product__info--selected {
    display: block;
  }

  .product__card:hover .product__weight,
  .product__card:focus .product__weight {
    background-color: $color-selected;
  }

  .product__card:hover,
  .product__card:focus {
    .product__text--default {
      display: block;
    }

    .product__text--select {
      display: none;
    }
  }
}

// товара нет в наличии

.product--disabled {
  &::after,
  &:hover::after,
  &:focus::after {
    background-image: linear-gradient(135deg, transparent 31px, $color-disabled 31px);
  }

  .product__text,
  .product__title,
  .product__subtitle {
    color: rgba($color-disabled, 0.5);
  }

  .product__photo {
    opacity: 0.5;
  }

  .product__weight {
    background-color: $color-disabled;
  }

  .product__info--default {
    display: none;
  }

  .product__info--disabled {
    display: block;
  }

  .product__card {
    cursor: default;

    &:hover .product__weight,
    &:focus .product__weight {
      background-color: $color-disabled;
    }
  }
}
