// Цвета от светлому к темному
$white:         #ffffff;
$grey-light:    #f2f2f2;
$grey:          #b3b3b3;
$grey-dark:     #666666;
$yellow:        #ffff66;
$blue:          #1698d9;
$pink:          #d91667;
$black:         #000000;

// Основные размеры экранов
$mobile-width:  320px;
$tablet-width:  750px;
$desktop-width: 1150px;

// Разрешение ретины
$retina-dpi:    144dpi;
$retina-dppx:   1.5dppx;
